.main-flex {
    display: flex;
}

.edit-area {
    padding: 1rem; 
    flex: 1 1 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: stretch;
}

#outputs {
    margin: 1em;
    padding: 1em;
    min-width: 5em; 
    padding: 1rem;
    overflow-x: visible; 
    flex: 0 0 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    gap: 1.5rem; 

    background: var(--bg2-color);
    border: 0px solid transparent;
    border-radius: 0.5em;
}


@media (orientation: portrait) {
    .main-flex {
        flex-direction: column;

        & .edit-area {
            height: 70vh;
        }
    }
}

#create, #reset {
    font: inherit;
    padding: 0.5em;
    appearance: none;
    border: 0px solid transparent;
    border-radius: 999999px;
    outline: none;
    cursor: pointer;
}

#reset {
    background: var(--button-color);
    color: var(--text-color);
    &:hover { background: var(--button-hover) } 
}

#create {
    background: var(--primary-color);
    color: var(--primary-contrast-color);
    &:hover { filter: brightness(115%); }
}

.text-area {
    flex: 1 1 auto; 
    border: 0px solid transparent;
    border-radius: 0.5em;
    overflow: hidden;

    display: flex;

    & > * {
        flex: 1 1 auto;
        padding: 0.5rem;

        appearance: none; 
        resize: none; 
        border: none;
        outline: none; 

        overflow: scroll; 

        font-family: monospace; 
        background: var(--bg2-color); 
        color: var(--text-color);
    }
}

#collapse-button {
    display: flex;
    justify-content: center;
    align-items: center;

    & > * {
        display: inline;
        padding: 0.5em;

        border: 0px solid transparent;
        border-radius: 999999px;
        background: var(--button-color);

        cursor: pointer;

        &:hover { background: var(--button-hover) } 

        & > * {
            fill: none;
            stroke: var(--hint-color);
            height: 1lh;
            width: 1lh;
            stroke-width: 0.2;
            stroke-linecap: round;
            transform: rotate(180deg);
            transition: transform 250ms;
        }
    }

    &[collapsed=true] > * > * {
        transform: rotate(0);
    }
}

#collapse-content {
    margin-top: 1em;
}

.outputs-name {
    font-size: 1.25em;
    text-align: center;
}

.hint-text {
    font-size: 1.3em;
    max-width: max(60vw, 120vh);
}
@keyframes opac01 {
    from { opacity: 0 } to { opacity: 1 }
}
#status {
    animation: opac01;
    animation-duration: 300ms;
}
