body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centerel-vert {
    display: flex;
    flex-direction: column;

    & > .before:not([disable]) { display: block; flex: 1 1 0px; }
    & > .after:not([disable]) { display: block; flex: 1 1 0px; }
    & > .center { display: block; }
}

@media (max-aspect-ratio: 1/1), (orientation: portrait) {
    .collapsable {
        visibility: collapse;
        display: none;
    }
}

.header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
    color: white;
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    box-shadow: 0px 0px 0.5rem 0px #00000050;
    background: linear-gradient(190deg, #4286f1, #321ceb);

    & > a {
        color: #eee; 
        transition: color 100ms;
        &:hover {
            color: #fff;
        }
    }

    padding: 0.5rem;
    padding-right: 2rem;
    @media (max-aspect-ratio: 1/1), (orientation: portrait) {
        padding: 0.5rem;
        text-align: center; 
    }
}

.h-text {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    & > * {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            'Helvetica Neue', Arial, 'Noto Sans', sans-serif;
        text-align: center; 
        color: #4286f1;

        max-width: max(40rem, 114vh);
        font-size: 2rem;
        font-weight: bold;
    }
}

#file-picker {
    cursor: pointer;
    margin: 0 auto;
    & > span { word-wrap:break-word; }
}

.group-bar-formatting {
    width: min(30rem, 90vw);
    margin: 0 auto;
}

.progress-bar-height { height: 0.2rem; }

@keyframes start-pending {
    --scale: 0.5rem;
    from { background-position: 0 0; }
    to { background-position: calc(4.619*var(--scale)) calc(8.0 * var(--scale)); }
}

#group-bar {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    background-color: #f8f8f8;

    border-radius: 999999px;
    border: 0px solid transparent;
    box-shadow: 0px 0px 0.3rem 0px #00000030;

    &:hover { outline: 1px solid #cccccc; }

    #group-input {
        width: 100%; 
        flex: 1 1 0px; 
        -webkit-appearance: none; border: none; outline: none;
        margin: 0.1rem 0px 0.1rem;
        color: #202020;
        background: none;
        font-size: 1.3em;
    }

    .group-bar-icon {
        margin: auto 0;
        margin-left: 0.5rem;

        & > svg {
            cursor: pointer;
            border: 0px solid #00000000;
            border-radius: 999999px;
            overflow: hidden;

            display: block;
            height: 1.4rem; 
            width: auto;
            fill: #202020;
            padding: 0.4rem;
        }

        &:hover > svg {
            background-color: #dcdcdc;
        }
    }

    #start-button > svg {
        stroke-width: 5%;
    }
    #start-button:not([data-pending]) > svg {
        fill: #4286f1;
        stroke: #4286f1;
    }
    #start-button[data-pending] > svg {
        fill: white;
        stroke: white;

        --color1: #367dee;
        --color2: #458cff;
        --scale: 0.5rem;
        --blur: 6%;
        background-image: linear-gradient(
            120deg,
            var(--color1) calc(12.5% - var(--blur)),
            var(--color2) calc(12.5% + var(--blur)),
            var(--color2) calc(37.5% - var(--blur)),
            var(--color1) calc(37.5% + var(--blur)),
            var(--color1) calc(62.5% - var(--blur)),
            var(--color2) calc(62.5% + var(--blur)),
            var(--color2) calc(87.5% - var(--blur)),
            var(--color1) calc(87.5% + var(--blur))
        );
        background-size: calc(4.619*var(--scale)) calc(8.0 * var(--scale));
        animation: start-pending 1s linear infinite;

        &:hover { filter: brightness(110%); }
    }

    & #generation-settings[data-pressed=true] > svg {
        fill: white;
        background-color: #4286f1;

        &:hover {
            filter: brightness(110%);
        }
    }

    & #progress-bar {
        border: 0px solid transparent;
        border-radius: 999999px;
        width: 0%;
        &[data-transition=true] { transition: width 100ms; }
    }
}

body:not([data-fileLoaded]) #load-file-text {
    color: hsl(250deg 86% 60% / 1);
}

body[data-fileLoaded] #group-input:placeholder-shown {
    border: 0px solid transparent;
    border-radius: 0.5rem;
    background-color: hsl(250deg 86% 60% / 10%);
}

#outputs {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: flex-start;
}

#open-data-usage {
    position: fixed;
    left: 0; bottom: 0;

    cursor: pointer;

    &[data-transition] { transition: transform 100ms; }
    &:not([data-visible=true]) { transform: translateY(calc(100% + 0.3rem + 1px)) }

    & > * {
        height: 1em;
        margin-left: 0.5em;
        padding: 0.3em;
        padding-bottom: 0.1em;

        background: #f8f8f8;
        border: 0px solid transparent;
        border-radius: 999px 999px 0px 0px;
        box-shadow: 0px 0px 0.3em 0px #00000060;

        & > svg {
            height: 100%;

            fill: none;
            stroke: #4286f1;
            stroke-width: 0.2;
            stroke-linecap: round;
        }
    }

    &[data-usage-accepted=false] svg {
        stroke: #f15642;
    }

    &:hover >  * { 
        background: #dcdcdc;
    }
}

.data-usage {
    position: fixed;
    bottom: 0; left: 0;
    z-index: 2000;

    width: 15rem;
    box-sizing: border-box;
    padding: 1em;
    padding-left: 0px;
    padding-top: 0px;

    @media (width < 30rem) {
         width: 100%;
    }

    background: #f8f8f8;
    border: 0px solid transparent;
    border-radius: 0.6em 0.6em 0px 0px;
    box-shadow: 0px 0px 0.5rem 0px #00000030;

    font-size: 0.75em;

    &[data-transition] { transition: transform 400ms; }
    &:not([data-visible=true]) { transform: translateY(calc(100% + 0.3rem + 1px)); }

    & > .close-button {
        float: left;
        padding-top: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.49em;
        padding-bottom: 0.49em;

        cursor: pointer;

        & > * { 
            width: 2em; height: 2em; 
            pointer-events: none; 

            & > svg {
                width: 100%;
                stroke: #808080;
                stroke-width: 1;
                stroke-linecap: round;
            }
        }

        &:hover svg { stroke: #2f2f2f; }
    }

    & > span {
        display: block;
        margin-top: 1em;
        margin-left: 1em;
        color: #2f2f2f;

        cursor: pointer;

        &:hover {
            text-decoration: underline
        }
    }
}

#drop-zone {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    padding: 2vmin 2vmin 2vmin 2vmin;
    z-index: 999999;

    background-color: #F1564230;
    transition: visibility 150ms, opacity 150ms;

    & > * {
        box-sizing: border-box;

        border-radius: 3vmin;
        border: 1vmin dashed white;

        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        & > * {
            width: 25%;
            height: 25%;
        }
    }
}

