*[data-custom-button]:focus:not(:focus-visible) {
    outline: 0;
    box-shadow: none;
}
*[data-custom-button]:focus-visible { outline: -webkit-focus-ring-color auto 1px; }

body { font-family: "Open Sans", sans-serif; }

.no-select { user-select: none; }

.header {
    font-family: 'Open Sans', sans-serif;
    color: var(--secondary-text-color);
    text-align: right;

    padding: 0.5rem 1rem;
    @media (max-aspect-ratio: 1/1), (orientation: portrait) {
        padding: 0.5rem;
        text-align: center;
    }
}

#footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#footer > * {
    padding: 1rem 0.75rem;
}

.link {
    color: var(--link-color);
    cursor: pointer;
}

.link:not(:hover) { text-decoration: none; }
